:root {
    --primary-color: #FFA629;
    --secondary-color: #EBCF9F;
 }
.background {
    background: linear-gradient(90deg, #000 0%, rgba(37,82,99,1) 50%, #000 100%);
    border-bottom: solid 5px hsl(35, 100%, 58%);
}
.linea{
    border-left: solid 5px var(--primary-color);
    height: 38px;
}
nav {
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 20px;
    
}
@keyframes bounce{
    0%{
        transform: translate(0);
    }
    50%{
        transform: translateY(20px)
        }
    75%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(0);
    }
    }
.bouncy:hover {
    animation: bounce .5s ease;
}
.ul-color {
    list-style: none;
    text-decoration: none;
    color: #EBCF9F;
}

main{
    background-color: #000;
}
.text-shadow {
    text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.392);         
}


.colclan {
    transform: translateY(-450px);
    font-family: "Raleway", sans-serif;
    font-size: 80px;
    font-weight: 900;
    color: #FFA629;
    }
.slider {
    border-bottom: solid 5px #FFA629;
} 
@media (max-width: 576px) {
    .c-image {
      width: 100%;
    }
  }
@media (max-width: 768px) {
    .c-image {
      width: 100%;
    }
    .colclan{
        display: none;
    }
   
  }
@media (max-width: 992px) {
    .c-image {
      width: 100%;
    }
    .colclan{
        width: 100%;
        transform: translateY(-120px);
        font-size: 60px;
    }
    .reserva{
        display: none;
    }
  }
.reserva-btn{
    transform: translateY(-120px);
}
.reserva{
    background-color: #EBCF9F;
    color: #000;
    border-radius: 30px;
    border: solid 4px #000;
    font-family: "Raleway", sans-serif;
    font-size: 30px;
    font-weight: 900;
    font-style: italic; 
    width: 190px;  
    box-shadow:  4px 4px 2px rgba(0, 0, 0, 0.392);    
}
.form-page{
    padding-top: 50px;
    padding-bottom: 50px;
}
.form-back{
    background: rgb(42,103,126);
    background: linear-gradient(0deg, rgba(42,103,126,1) 0%, rgba(42,103,126,1) 50%, rgba(17,56,71,1) 100%);    
    height: 707px;
    width: 1232px;
    border-radius: 20px;
    }
.form-in {
    margin-top: 80px;
    height: 445px;
    width: 948px;
    border-left: solid 5px #FFA629;
    border-right: solid 5px #FFA629;
}

.button-enviar{
    width: 300px;
    background-color: #000;
    color: #FFA629;
}
.asiste{
    margin-top: 80px;
    background-color: #EBCF9F;
    border: solid 5px #000;
    border-radius: 40px;
    width: 436px;
    display: flex;
    justify-content: center;
    font-family: "Raleway", sans-serif;
    font-style: italic;
    font-weight: 600;
    font-size: 25px;
}
@media (max-width: 576px ) {
    .form-back {
        width: 400px;
    }
    .form-in{
        width: 400px;
    }
    .asiste {
        width: 400px;
        text-align: center;
    }
}

.main{
    background-color: white;
}
