.sec2{
    display: flex;
    align-items: center;
    .carrous-img{
        display: flex;
        align-items: center;
        li{
            list-style: none;
        }
        gap: 15px;
    }
    .ievent1{
        
    }
    .ievent1:hover{
        filter: invert(100%)!important; 
        filter:blur(100%)!important; 
        border-radius: 35px;
    }
    .imgcar:hover{
        filter: contrast(120%);
        height: 240px;
        width: 240px;
    }
    
}