body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.aliados {
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.aliados h1 {
    font-size: 4em;
    color: #f1c40f; 
    margin-bottom: 30px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    font-family: raleway;

}

.aliados {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}



@media (min-width: 768px) {
    .aliados {
        flex-direction: row;
        gap: 50px;
    }
}